*.iml
.gradle
android/Hermes/local.properties
android/Hermes/.idea/caches
android/Hermes/.idea/libraries
android/Hermes/.idea/modules.xml
android/Hermes/.idea/workspace.xml
android/Hermes/.idea/navEditor.xml
android/Hermes/.idea/assetWizardSettings.xml
android/Hermes.DS_Store
android/Hermes/build
android/Hermes/captures
.externalNativeBuild
.cxx
local.properties
android/Hermes/.idea/vcs.xml
android/Hermes/.idea/misc.xml
android/Hermes/.idea/gradle.xml
android/Hermes/.idea/compiler.xml
android/Hermes/app/src/test/*
android/Hermes/app/src/androidTest/*
.vscode
.terraform
.terraform.*
terraform.*